
<mat-card class="example-card">  
    <mat-card-content> 
        <div>
            <form [formGroup]="indexingForm" (ngSubmit)="onSubmit()">
                <p>Title</p>
                <input type="text" formControlName="title">
                <p>Author</p>
                <input type="text" formControlName="author">
                <p>Genre</p>
                <input type="text" formControlName="genre">
                <p>ISBN</p>
                <input type="text" formControlName="ISBN">
                <p>Key words</p>
                <input type="text" formControlName="keyWords">
                <p>Publisher</p>
                <input type="text" formControlName="publisher">
                <p>Publishing year</p>
                <input type="number" formControlName="publishingYear">
                <p>Publishing place</p>
                <input type="text" formControlName="publishingPlace">
                <p>Page number</p>
                <input type="number" formControlName="pageNumber">
                <p>Sysnopys</p>
                <input type="text" formControlName="sysnopys">
                <p>Lectoring data</p>
                <input type="text" formControlName="lectoringData">
                <p>Directors</p>
                <input type="text" formControlName="directors">
                <p>Content</p>
                <input type="text" formControlName="content">
                <p>Book</p>
                <input type="file" (change)="onFileChange($event)" formControlName="file">
                <br><br>
                <button [disabled]="!indexingForm.valid" type="submit">Submit</button>
            </form>
        </div>
    </mat-card-content> 
</mat-card> <div>
