<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

 <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 first">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 second">
          <div class="topmargin">
            <router-outlet></router-outlet>
          </div>        
      </div>
    </div>
  </div>
