<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <body>
    <input type="checkbox" id="check">
    <!-- <label for="check">
      <i class="fas fa-bars" id="btn">Menu</i>
      <i class="fas fa-times" id="cancel">Close</i>
    </label> -->
    <div class="sidebar">
      <header>My Menu</header>
      <a href="home">
        <i class="fas fa-link"></i>
        <span>Home</span>
      </a>
      <a href="index" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Index</span>
      </a>
      <a href="#" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Library</span>
      </a>
      <a href="search">
        <i class="fas fa-link"></i>
        <span>Search</span>
      </a>
    </div>
</body>
</html>
